*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*=======================================================================================================*/


body {
    background: #111;
}
.layer {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #222;
}
.plane {
    position: absolute;
    height: 100vh;
    left: -55vh;
    z-index: 1;
}
.layer::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 30px;
    background: #222;
    top: 0;
    left: -30px;
}
.layer::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 30px;
    background: #222;
    bottom: 0;
    left: -30px;
}
section {
    height: 200vh;
    background: url(../img/1.jpg);
    background-size: cover;
    background-attachment: fixed;
}
section.sec2 {
    height: 200vh;
    background: url(../img/2.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.text {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    line-height: 3em;
}
.text h2 span {
    font-size: 5em;
    font-weight: 900;
    letter-spacing: 0em;
    background: url(../img/2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-clip: text;
    color: transparent;
}
